*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    position: relative;
    width: 100vw;
    text-align: center;
    height: 100vh;
}
table{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid rgb(104, 16, 193);
}

th,td{
border: 1px solid red;
font: 5rem;
padding: 10px;
}