* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fc3890;
}
h1 {
  color: #5f7ad2;
  text-transform: uppercase;
}
.css_w_m1 {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}
.css_w_m2 {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
.css_w_m3 {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}
